@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Test</h1>
    <p>
        Developer: Lakmal Silva
        <br />
        Date: 2018-12-17
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Task 1:</h4>
        <p>Basic:</p>
        <ol>
            <li>RM @ViewBag.q1Basic1</li>
        </ol>
        <p>Advance:</p>
        <ol>
            <li>@ViewBag.q1Advance1 years</li>
            <li>RM @ViewBag.q1Advance2</li>
        </ol>
    </div>

    <div class="col-md-4">
        <h4>Task 2:</h4>
        <p>Basic:</p>
        <ol>
            <li>@ViewBag.q2Basic1</li>
        </ol>
        <p>Advance:</p>
        <ol>
            <li>@ViewBag.q2Advance1</li>
        </ol>
    </div>

    <div class="col-md-4">
        <h4>Task 3:</h4>
        <p>Basic:</p>
        <ol>
            <li>@ViewBag.q3Basic1</li>
        </ol>
        <p>Advance:</p>
        <ol>
            <li>@ViewBag.q3Advance1</li>
        </ol>
    </div>
</div>